body {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}
h1 {
    font-size: 6em;
    color: red;
    text-transform: uppercase;
    animation: blink 1s infinite;
    position: relative;
    margin-bottom: 10px; /* Adjust the space below the h1 */
    z-index: 1;
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    max-width: 100%;
    height: auto;
}
a {
    position: relative;
    z-index: 1;
    text-decoration: underline;
    color: red;
    font-size: 1.5em;
    display: block;
    margin-top: 1em;
    text-align: center;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
